---
import type { GetStaticPaths } from "astro";
  // Type GetStaticPaths de Astro
import Layout from '../../layouts/Layout.astro';
import TypedBlogPost from 'src/components/blog/TypedBlogPost.astro';
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({paginate}) => {

    const blogSpots = await getCollection('blog');
    return paginate(blogSpots, {pageSize: 2});
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Fernando's Blog paginado">
  <div class="py-1 mx-auto">
    <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
      Fernando's Blog paginado
    </h1>
  </div>

  <section aria-label="Entradas de blog">
    <div class="grid grid-cols-1 gap-8 mt-1 md:mt-10 md:grid-cols-2">
      {page.data.map((post) => <TypedBlogPost post={post} />)}
    </div>
  </section>

  <section aria-label="Controles" class="flex justify-between mt-5">

<!--   page .. ?? prev   -->
    <a
      href={page.url.prev}
      class:list={{
        disabled: !page.url.prev,
      }}>Anteriores</a
    >
    
<!--   page .. ?? next   -->
    <a
      href={page.url.next}
      class:list={{
        disabled: !page.url.next,
      }}>Siguientes</a
    >
  </section>
</Layout>

<style>
    a{
        background-color: #3B82F6;
        color: white;
        padding: 0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color: #2563EB;
    }

  .disabled {
    background-color: #4B5563;
    transition: background-color 0.3s ease;
  }

  .disabled:hover {
    background-color: #4B5563;    cursor: not-allowed;        /* cursor-not-allowed */
  }
</style>