---
import type { GetStaticPaths } from 'astro';
import type { PokemonListResponse } from '../../interfaces/pokemon-list';
import Layout from '../../layouts/Layout.astro';
import PokemonCard from '../../components/pokemons/pokemonCard.astro';

export const getStaticPaths = (async () => {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=200');
    const { results } = await resp.json() as  PokemonListResponse; 

    return results.map(({name, url}) => {

        const id = url.split('/').at(-2);

        return {
            params: { id: id },
            props: { name: name, url: url }
        }
    })
}) satisfies GetStaticPaths;

const {id} = Astro.params
const { name, url } = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${ id }.ogg`

---

<Layout title="pokemon name">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div> <a href="/pokemonPage" class="text-white">Regresar</a></div>

        <PokemonCard 
            name={name} 
            url={url.toString()} 
        />

        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
        
    </section>
</Layout>