html {
    scroll-behavior: smooth;
}

body {
    margin-top: 2.5rem;     
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2.5rem;
}

h1 {
    font-size: 1.875rem;       
    line-height: 2.25rem;
    color: white;
    margin-top: 1.25rem;       
    margin-bottom: 1.25rem;
}

h2 {
    font-size: 1.5rem;        
    line-height: 2rem;
    color: #3b82f6;           
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 1.25rem;       
    line-height: 1.75rem;
    color: white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

p {
    color: white;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

a {
    color: #3b82f6;           
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
