---

const Links = [
    { name: 'Menu', path: '/' },
    { name: 'Pokemons', path: '/pokemons/1' },
    { name: 'Favoritos', path: '/favorites' },
    { name: 'Islas', path: '/islas' },
    { name: 'Blog', path: '/blog' },
]

const currentPath = Astro.url.pathname; 
---

<div class="custom-navbar">
    <div class="brand-logo">
        <!-- <img src="http://salehriaz.com/404Page/img/logo.svg" width="80px"> -->
        <h6 class="text-white">Andres Almada</h6>
    </div>
    <div class="navbar-links">
        <ul>
        {
            Links.map(({name, path}) => (
                <li>
                    <a  href={path}>{name}</a>
                    {
                        path === currentPath && (
                            <div transition:name="menu-line" class="border-b-2 border-blue-500" ></div>
                        )
                    }
                </li>
            ))
        }
        </ul>
    </div>
</div>

<style>
    .custom-navbar{
        padding-top: 15px;
    }

    .brand-logo{
        margin-left: 25px;
        margin-top: 5px;
        display: inline-block;
    }

    .navbar-links{
        display: inline-block;
        float: right;
        margin-right: 15px;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    /*    overflow: hidden;*/
        display: flex; 
        align-items: center; 
    }

    li {
        float: left;
        padding: 0px 15px;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        letter-spacing : 2px;
        font-size: 12px;
        
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
    }

    li a:hover {
        color: #ffcb39;
    }
   
    @media only screen and (max-width: 600px){
        .navbar-links{
            display: none;
        }
        
        .custom-navbar{
            text-align: center;
        }
        
        .brand-logo img{
            width: 120px;
        }
    
    }
</style>