---
import Layout from '../../layouts/Layout.astro';
import type { PokemonListResponse } from '../../interfaces/pokemon-list';
import PokemonCard from '../../components/pokemons/pokemonCard.astro';
import { Counter } from '../../components/Counter';

interface favoritePokemons {
    name: string;
    id: number;
}

let favoritePokemons: favoritePokemons[] = [];

// let favoritePokemons = JSON.parse(localStorage.getItem('favoritePokemons') || '[]') as favoritePokemons[];

---

<Layout title="pokemon List">
	
	<!-- <Welcome /> -->
	<div>
		<h5 class="text-blue-400">pokémons favoritos</h5>
		<Counter client:load/>

	</div>
</Layout>
