---
import Layout from '../../layouts/Layout.astro';
import type { PokemonListResponse } from '../../interfaces/pokemon-list';
import PokemonCard from '../../components/pokemons/pokemonCard.astro';
import { FavoritePokemons } from '../../components/pokemons/favoritePokemons';

---

<Layout title="pokemon List">
	
	<!-- <Welcome /> -->
	<div>
		<h5 class="text-blue-400">Favoritos</h5>
	
		<FavoritePokemons client:only/>
	</div>
</Layout>
